@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .btn-dark {
    @apply bg-gray-800 text-gray-100 dark:bg-gray-100 dark:text-gray-800;
  }

  .btn-light {
    @apply bg-gray-100 text-gray-800 dark:bg-gray-800 dark:text-gray-100;
  }

  .btn-primary {
    @apply bg-orange-500 text-white dark:bg-orange-500 dark:text-white;
  }

  .btn-secondary {
    @apply bg-gray-600 text-white dark:bg-gray-700 dark:text-white;
  }

  .btn {
    @apply flex items-center gap-2 rounded-xl py-2 px-4 font-medium;
  }

  .scrollbar::-webkit-scrollbar {
    @apply max-h-2 w-2 bg-gray-200 dark:bg-gray-800;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    @apply rounded-full bg-gray-500 dark:bg-gray-500;
  }
}

html {
  @apply scroll-smooth;
}

body {
  font-family: "Inter", sans-serif !important;

  @apply selection:bg-orange-200 dark:selection:bg-orange-900;
  @apply bg-gray-50 !text-base dark:bg-gray-900;
}

body::-webkit-scrollbar {
  @apply w-2 bg-gray-200 dark:bg-gray-800;
}

body::-webkit-scrollbar-thumb {
  @apply rounded bg-gray-500 px-2 dark:bg-gray-500;
}

a {
  @apply break-words;
}

a:visited {
  @apply text-gray-800 hover:text-gray-900 dark:text-gray-200 dark:hover:text-gray-100;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/content/inter/regular.ttf") format("truetype");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("/content/inter/medium.ttf") format("truetype");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("/content/inter/semibold.ttf") format("truetype");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/content/inter/bold.ttf") format("truetype");
}

td {
  background-color: none !important;
}

nav {
  @apply flex w-full items-center justify-between border-b border-gray-300 py-4 px-6 dark:border-gray-800 md:px-8;
}

a:link {
  @apply text-gray-800 hover:text-gray-900 dark:text-gray-200 dark:hover:text-gray-100;
}

.icon {
  @apply h-6 w-6 fill-gray-800 hover:fill-gray-700 dark:fill-gray-200 dark:hover:fill-gray-300;
}

.icon-sm {
  @apply h-4 w-4;
}

.icon-md {
  @apply h-6 w-6;
}

.icon-lg {
  @apply h-8 w-8;
}

.stroke-current {
  @apply stroke-gray-800 dark:stroke-gray-200;
}

.nav-right-container {
  @apply flex items-center justify-center gap-4;
}

.logo-img {
  @apply h-8 w-auto;
}

.logo {
  @apply flex items-center gap-2;
}

.logo-text {
  @apply text-xl font-semibold text-gray-900 dark:text-gray-100;
}

.links-container {
  @apply ml-auto hidden items-center justify-center gap-8 md:flex;
}

.link {
  @apply !text-base text-gray-900 hover:text-gray-600 dark:text-gray-100 dark:hover:text-gray-300;
}

.seperator {
  @apply h-4 w-px bg-gray-300 dark:bg-gray-600;
}

.toggle-theme {
  @apply grid place-items-center fill-gray-100 hover:fill-gray-600 dark:fill-gray-100 dark:hover:fill-gray-300;
}

.toggle-theme-icon {
  @apply h-6 w-6;
}

.menu-icon {
  @apply inline-block h-6 w-6 cursor-pointer md:hidden md:px-8;
}

.hide {
  @apply !hidden;
}

.mobile-menu {
  @apply flex h-fit w-full flex-col gap-4 bg-gray-100 pb-4 dark:bg-gray-900;
}

.mobile-menu-links {
  @apply mx-2 mt-2 flex w-full flex-col gap-2;
}

.mobile-menu-links a {
  @apply w-full rounded-xl py-2 px-4 text-left text-gray-900 hover:bg-gray-200 dark:text-gray-100 hover:dark:bg-gray-800;
}

.items-container {
  @apply my-2 flex flex-col gap-4;
}

.item-container {
  @apply mx-4 flex flex-col items-start gap-1 rounded-2xl border border-gray-300 bg-gray-100 px-5 py-4 dark:border-gray-800 dark:bg-gray-900;
}

.item-title {
  @apply break-all text-base font-medium text-gray-800 dark:text-gray-200 md:text-lg;
}

.item-metadata {
  @apply flex items-center gap-2 text-sm text-gray-600 dark:text-gray-400;
}

.item-header {
  @apply flex items-center justify-between gap-2;
}

.upvote-icon {
  @apply h-5 w-5 cursor-pointer fill-gray-800 hover:fill-gray-700 dark:fill-gray-200 dark:hover:fill-gray-300;
}

.upvote-icon:visited {
  @apply fill-gray-600 dark:fill-gray-400;
}

.metadata {
  @apply flex gap-2;
}

.item-metadata a {
  @apply text-gray-600 dark:text-gray-400;
}

.time-container,
.time-bullet {
  @apply hidden md:flex;
}

.bullet {
  @apply my-auto text-[10px] text-gray-500 dark:text-gray-700;
}

.more-button {
  @apply btn btn-secondary mx-auto my-4 max-w-max !px-6;
}
