@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-dark {
    @apply bg-gray-800 text-gray-100 dark:bg-gray-100 dark:text-gray-800;
  }

  .btn-light {
    @apply bg-gray-100 text-gray-800 dark:bg-gray-800 dark:text-gray-100;
  }

  .btn-primary {
    @apply bg-orange-500 text-white dark:bg-orange-500 dark:text-white;
  }

  .btn-secondary {
    @apply bg-gray-500 text-white dark:bg-gray-500 dark:text-white;
  }
}

@layer utilities {
  .btn {
    @apply flex items-center gap-2 font-medium rounded-xl py-2 px-4;
  }
}

html {
  @apply scroll-smooth;
}

body {
  @apply selection:bg-orange-200 dark:selection:bg-orange-900;
}

a {
  @apply break-words;
}

